<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css"
          th:href="@{/resources/css/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../../resources/css/userProfile.css" th:href="@{/resources/css/userEdit.css}"/>
</head>

<body>
<div class="container ">
    <div class="profile-wrap relative">
        <div class="profile-wrap-head">
            <div class="profile-title">Profile</div>
            <div class="edit-btn-block">
                <div class="user-profile-edit-btn">
                    <a href="#" class="btn btn-success" role="button">Редагувати</a>
                </div>
            </div>
        </div>
        <div class="profile-container-wrap">
            <div class="left">
                <div class="info">
                    <div class="info-name">
                        <div class="info-name-title"><span title="Taras Sluka">Taras Sluka</span></div>
                        <div class="img-info">
                            <div class="imgHolder"></div>
                        </div>
                    </div>
                    <div class="info-content">
                        <div class="profile-row">
                            <div class="ng-binding1">asdasd</div>
                            <div class="ng-binding2">asdasd</div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="profile-title">Education</div>
                    <div class="education-content">
                        <div class="profile-row">
                            <div class="ng-binding">asdasd</div>
                            <div class="ng-binding">asdasd</div>
                        </div>
                        <div class="profile-row">
                            <div class="ng-binding">asdasd</div>
                            <div class="ng-binding">asdasd</div>
                        </div>
                        <div class="profile-row">
                            <div class="ng-binding">asdasd</div>
                            <div class="ng-binding">asdasd</div>
                        </div>
                        <div class="profile-row">
                            <div class="ng-binding">asdasd</div>
                            <div class="ng-binding">asdasd</div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="profile-title">Education</div>
                    <div class="education-content">
                        <div class="profile-row">
                            <div class="ng-binding">asdasd</div>
                            <div class="ng-binding">asdasd</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <div class="profile-title">Education</div>
                    <div class="education-content">
                        <div class="profile-row">
                            <div class="ng-binding">asdasd</div>
                            <div class="ng-binding">asdasd</div>
                        </div>
                        <div class="profile-row">
                            <div class="ng-binding">asdasd</div>
                            <div class="ng-binding">asdasd</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>