.all-wrapper {
    padding: 0;
    outline: none;
    margin: 0;
}

.header {
}

.body-wrapper {}

.body-wrapper .left {
    width: 300px;
    float: left;
    border: 2px solid ;
    border-color: aqua;
}
.body-wrapper .left ul{
    list-style-type: none;
}

.body-wrapper .right {
    width: calc(100% - 300px);
    float: right;
}
.body-wrapper .right .content{
    padding: 5px;
    border: 2px solid;
    border-color: azure;
    
}