<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home page</title>
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/header.css"/>


</head>
<body>
<div class="all-wraper">

    <header class="header-wrap">
    </header>
    <div class="left-wrap">

    </div>
    <div class="content">

    </div>

</div>
<script src="/static/js/lib/jquery.js"></script>
<script src="/static/js/lib/bootstrap.min.js"></script>
<script src="/static/js/lib/angular/angular.js"></script>

<script src="/static/js/app.js"></script>
<script src="/static/js/services.js"></script>

<script src="/static/js/controllers/RailwayStationController.js"></script>
<script src="/static/js/controllers/CarController.js"></script>
<script src="/static/js/controllers/TrainController.js"></script>
</body>
</html>